<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
     integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
     crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
     integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
     crossorigin="anonymous"></script>
    <title>Todo App</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-warning mb-5">
      <a href="/" class="navbar-brand float-left">ToDo App</a>
        <form class="form-inline float-right" action="search/" method="POST">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Add to your List</h3>
        </div>
      </div>

    <div class="row">
      <div class="col s4">
        <div class="input-group flex-nowrap">
          <span class="input-group-text">✔</span>
          <form class="form-inline" action="{% url 'add_todo' %}" method="POST">
            {% csrf_token %}
          <div>
             <input type="text" class="form-control" placeholder="Type here..." name="text_in">
             <button type="submit" class="btn btn-dark">Add</button>
          </div>
          </form>
        </div>
      </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col s1">
          <form action="delete_all/" method="POST">
            {% csrf_token %}
            <li class="list-group-item title"><strong>Todos</strong>
              <button type="submit" class="btn btn-danger float-right btn-sm" name="delete">Delete All</button>
            </li>
          </form>
              {% block list_content %} {% endblock %}
        </div>
      </div>

    </div>
    {% block body_content %}
    {% endblock %}
  </body>
</html>
